numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
tqdm==4.66.2
numba==0.59.0
seaborn==0.13.2
ipywidgets==8.1.2
plotly==5.19.0
pypdf==4.0.2
mplstereonet==0.6.3
pyrolite==0.3.5
stratilib==0.1.0
geopy==2.4.1
jupyterlab_widgets==3.0.10
scikit-learn==1.4.1.post1
geostatspy==0.0.26
statsmodels==0.14.1
shapely==2.0.3
folium==0.16.0
geopandas==0.14.3
mapclassify==2.6.1
rioxarray==0.15.1
leafmap==0.23.4
jsonschema==4.21.1
localtileserver==0.10.1
jupyterlab==4.1.2
ipympl==0.9.3
corelab==1.0.2
pyvista==0.43.3
vtk==9.3.0
trame==3.5.2
trame-vtk==2.8.5
trame-vuetify==2.4.2