numpy==1.26.4
pandas==2.2.3
openpyxl==3.1.2
pyrolite==0.3.6
matplotlib
tqdm==4.66.5
numba==0.60.0
seaborn==0.13.2
ipywidgets==8.1.5
reportlab==4.2.5
plotly==5.24.1
pypdf==4.3.1
mplstereonet==0.6.3
stratilib==0.1.0
geopy==2.4.1
jupyterlab_widgets==3.0.13
scikit-learn==1.5.1
opencv-python==4.10.0.84
xgboost==2.1.1
geostatspy==0.0.71
statsmodels==0.14.2
shapely==2.0.6
folium==0.18.0
geopandas==1.0.1
mapclassify==2.8.1
rioxarray==0.18.1
leafmap==0.39.1
jsonschema==4.21.1
localtileserver==0.10.5
jupyterlab==4.2.5
ipympl==0.9.4
corelab==1.0.2
pyvista==0.44.1
vtk==9.3.1
trame==3.7.0
trame-vtk==2.8.12
trame-vuetify==2.7.2