numpy==1.24.3
pandas==2.0.3
matplotlib==3.7.2
tqdm==4.66.1
numba==0.57.1
seaborn==0.12.2
ipywidgets==8.1.0
plotly==5.16.1
pypdf==3.15.4
mplstereonet==0.6.2
pyrolite==0.3.4
stratilib==0.1.0
geopy==2.4.0
vpython==7.6.4
jupyterlab_widgets==3.0.8
scikit-learn==1.3.0
geostatspy==0.0.26
statsmodels==0.14.0
shapely==2.0.1
folium==0.14.0
geopandas==0.14.0
mapclassify==2.6.0
rioxarray==0.15.0
leafmap==0.23.4
localtileserver==0.7.1
jupyterlab==4.0.6
corelab==1.0.2
vtk==9.2.6
pyvista=0.43.3
trame==3.2.6
trame-vtk==2.5.8